<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="date=no" />
		<meta name="format-detection" content="address=no" />
		<meta name="format-detection" content="email=no" />

		<link href="css/style.min.css?v=1.0" rel="stylesheet" />
		<title>Клуб четырех коней</title>
	</head>

	<body>
		<header class="page-header">
			<div class="header__top-level">
				<nav class="main-nav">
					<div class="base-container">
						<a class="main-nav__logo">
							@@include('../_bem/_icons/horse-icon.html')
							@@include('../_bem/_icons/horse-icon.html')
							@@include('../_bem/_icons/horse-icon.html')
							@@include('../_bem/_icons/horse-icon.html')
							<span class="main-nav__logo-text">Клуб<br />четырех коней</span>
						</a>
					</div>
				</nav>

				<div class="header__content">
					<div class="base-container">
						<div class="header__content-wrapper">
							<h1 class="header__content-title">
								<span>
									Превратите<br />
									уездный город
								</span>
								<div>
									<span> в столицу</span>
									<span> земного шара</span>
								</div>
							</h1>

							<span class="header__content-subtitle">
								Оплатите взнос на телеграммы
								<br class="breakpoint-mobile" />
								для организации
								<br class="breakpoint-desktop" />
								Международного васюкинского турнира по шахматам
							</span>

							<div class="header__content-buttons">
								<a class="header__content-button" href="#support">
									Поддержать<br class="breakpoint-desktop" />
									шахматную мысль
								</a>
								<a class="header__content-button" href="#tournament">
									Подробнее<br class="breakpoint-desktop" />
									o турнире
								</a>
							</div>
						</div>
					</div>
				</div>

				<img
					class="header__chess header__chess--3"
					src="../img/image/chess3.png"
					alt="#"
				/>

				<img
					class="header__chess header__chess--4"
					src="../img/image/chess4.png"
					alt="#"
				/>
			</div>

			<div class="header__middle-level">
				<img
					class="header__bg-img"
					src="../img/image/header-background2.png"
					alt="#"
				/>
			</div>

			<div class="header__low-level">
				<img
					class="header__chess header__chess--1"
					src="../img/image/chess1.png"
					alt="#"
				/>
				<img
					class="header__chess header__chess--2"
					src="../img/image/chess2.png"
					alt="#"
				/>
				<img class="header__city-img" src="../img/image/city.png" alt="#" />
				<div class="header__circle">
					<svg
						class="header__circle-icon"
						width="634"
						height="634"
						aria-hidden="true"
					>
						<use href="../img/icon/sprite.svg#circle-icon"></use>
					</svg>
				</div>
			</div>

			@@include('../_bem/_marquee.html')
		</header>
	</body>
</html>
