<footer class="page-footer">
  <div class="base-container">
    <p class="page-footer__text">
      Все персонажи, события и цитаты являются вымышленными<br class="breakpoint-mobile" /> и не принадлежат создателям сайта.<br class="breakpoint-mobile" /> С подробностями можно познакомиться<br class="breakpoint-mobile" /> в главе XXXIV романа Ильи Ильфа<br class="breakpoint-mobile" /> и Евгения Петрова «Двенадцать стульев».
    </p>
  </div>

</footer>
<script src="js/index.min.js?v=1.0"></script>
</body>
</html>